.border {
  border-width: 0.3vw !important;
  padding-bottom: 10px;
  border-color: black !important;
  background: #343a40;
}

.nominal-font {
  font-size: 21px;
  font-weight: bold;
}

.modal-border {
  border: 0;
}
